grids/*
data/grids/*
data/*
notebook/.ipynb_checkpoints/*
src/__pycache__/*
__pycache__/*
*.DS_Store*
qvi.egg-info/*
qvi/core/__pycache__/*
*.bbl
notebooks/.ipynb_checkpoints/*
*/__pycache__/*
*/__pycache__/*
qvi/misc/__pycache__/*
qvi/models/__pycache__/*
variational-quantization-old/*
dist/*
*.gz
notebooks_secondary/.ipynb_checkpoints/
